DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_3cY0yoMxnfah@ep-red-lab-atfxoamb-pooler.c-9.us-east-1.aws.neon.tech/neondb
DATABASE_SYNC_URL=postgresql://neondb_owner:npg_3cY0yoMxnfah@ep-red-lab-atfxoamb-pooler.c-9.us-east-1.aws.neon.tech/neondb
SECRET_KEY=app-contabilidad-super-secret-key-2026
DEBUG=true
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000","http://localhost:8000","https://tu-app.railway.app"]
